{% extends'templates/base.twig' %}

{% block content %}

    <h1>Welcome to Support Randomiser</h1>

    <!-- This will show the current week of support, remember to provide the dependencies to this twig template via the controller -->
    {% include 'templates/partials/calendar_week.twig' %}

{% endblock %}