<!DOCTYPE html>
<html>
<head>
    <title>Hello World</title>
</head>
<body>
<h1>SlimPHP and TWIG are working when you can see the name parameter below:</h1>

<p>Hello World! And super welcome to : {{ name }}</p>

<p>Also, do not forget to check the logs, to see if Monolog is working!</p>
</body>
</html>
