{% extends'templates/base.twig' %}

{% block content %}

    <h1>SlimPHP and TWIG are working when you can see the output below:</h1>

    <p>Hello World! And super welcome to : {{ name }}</p>

    <p>Also, do not forget to check the logs, to see if Monolog is working!</p>

{% endblock %}