# IntelliJ project files
.idea

# Exclude vendor, let Composer take care of those
vendor/*

# Exclude log files and cache
/logs/
/cache/

# Exclude app specific configuration
/app/Configurator/Configurator.php
